@model TimesheetDEV.Models.EditEmployeeListViewModel

@if (@Model.EditEmployeeRow.Count <= 0)
{
    // This person is in the system but has not clocked in or out.
    <div class="body-container text-center">
        <h3>No schedule found for this user.</h3>
    </div>
}
else
{
    <div class="body-container text-center">
        <h3>@Model.EditEmployeeRow[0].First_Name @Model.EditEmployeeRow[0].Last_Name's schedule</h3>
        <form method="post">
            <table class="table table-striped" id="tableContainer">
                <thead>
                    <tr>
                        <th>Logged ID</th>
                        <th>Date</th>
                        <th>Clock In</th>
                        <th>Clock Out</th>
                        <th>Total time</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.EditEmployeeRow)
                    {
                        <tr>
                            <td>@item.LOG_ID</td>
                            <td>@item.CURRENT_DATE</td>
                            <td>@item.CLOCKED_IN</td>
                            <td>@item.CLOCKED_OUT</td>
                            @if (item.TotalTimeSpan.Hours == 0 && item.TotalTimeSpan.Minutes == 0)
                            {
                                // Show only seconds if total time is less than a minute.
                                <td>@item.TotalTimeSpan.Seconds s</td>
                            }
                            else
                            {
                                // Otherwise show hours and minutes.
                                <td>@item.TotalTimeSpan.Hours hr @item.TotalTimeSpan.Minutes m</td>
                            }
                            <td>
                                <button asp-controller="Supervisor" asp-action="EditEmployeeShift" class="btn btn-primary" name="LogID" value=@item.LOG_ID>Edit</button>
                            </td>
                            <td>
                                <button asp-controller="Supervisor" asp-action="DeleteEmployeeShift" class="btn btn-danger" name="LogID" value=@item.LOG_ID>Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
}